body {
  margin: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f3f4f6;
}

.layout {
  display: flex;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
